.App {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    background-color: #fff;
    width: 500px;
    margin: 50px;
    padding: 10px;
    border-radius: 8px;
}

.App h1 {
    text-align: center;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
}

.assigned {
    padding: 10px;
    width: 50%;
    border: 1px solid #eee;
    border-radius: 6px;
    margin-left: 5px;
    margin-right: 5px;
}

.task {
    padding: 10px;
    width: 85%;
    border: 1px solid #eee;
    border-radius: 6px;
}

.form input[type="text"]:focus,
.form button[type="submit"]:focus {
    outline: none;
}

.form button[type="submit"] {
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
}

.todo-listItems {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.item-content {
    width: 60%;
}

.todo-item button {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px;
}

.todo-item button:focus {
    outline: none
}

.update-item {
    background-color: rgb(235, 182, 47);
}

.delete-item {
    background-color: rgb(16, 16, 16);
    color: #fff;
}

.details-item {
    background-color: rgb(119, 118, 118);
    color: #fff;
}

.update-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.update-new-input {
    width: 80%;
    border-radius: 6px;
    border: 1px solid #eee;
    padding: 8px;
    outline: none;
}

.update-new-btn {
    background-color: darkorchid;
    color: #fff;
    cursor: pointer;
}

/*the container must be positioned relative:*/
.custom-select {
    padding: 10px;
    width: 50%;
    border: 1px solid rgb(224, 222, 222);
    border-radius: 6px;
    margin-left: 5px;
    margin-right: 5px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.to_left{
    background-color: #fbfbfb;
    
}

table {
    border-collapse: separate;
    border-spacing: 0 5px;
    margin-top: -8px;
    
    /* correct offset on first border spacing if desired */
}

td {
    border: solid 1px rgb(151, 151, 151);
    border-style: solid none;
    padding: 10px;
    background-color: rgb(220, 225, 225);
    
    justify-content: center;
}

td:first-child {
    border-left-style: solid;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
}

td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 10px;
}